name: mcpm-sodium

on:
  workflow_call:
    inputs:
      tag:
        description: 'Tag name for release'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name for release'
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: prod

    steps:
        
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true
        
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: true

      - name: Execute Gradle build
        run: ./gradlew :fabric:build -Pbuild.release=true
        working-directory: ./sodium

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sodium-artifacts-${{ steps.ref.outputs.branch }}
          path: sodium/build/mods/*.jar
          
      - name: Create release  
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: sodium/build/mods/*.jar
          allowUpdates: true
          tag: ${{ inputs.tag }}
          name: ${{ inputs.tag }}
          








