name: release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name for release'
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        
      - name: Create release  
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          tag: ${{ inputs.tag }}
          name: ${{ inputs.tag }}
          
  sodium:
    uses: ./.github/workflows/build-sodium.yml
    with:
      tag: ${{ inputs.tag }}

  freecam:
    uses: ./.github/workflows/build-freecam.yml
    with:
      tag: ${{ inputs.tag }}
