name: release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name for release'
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: prod

    steps:        
      - name: Create release  
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          tag: ${{ inputs.tag }}
          name: ${{ inputs.tag }}
          
